{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">COVID 19 Tweet Hub</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Sign In to Twitter</a>
            </nav>
        </div>
    </header>
    <h1 style="text-align: center">Welcome!</h1>
    <p style="text-align: center">Tweets are retrieved from @GovLarryHogan, @GavinNewsom, @CDCgov, @WHO, @WhiteHouse, @NIAIDNews.</p>
    <div class="form">
        <form action="/" method="POST">
            <div class="mdl-textfield mdl-js-textfield">
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" style="margin-left: 500px;" input type="submit">Refresh</button>
        </form>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="content">
                    {% if tweets | length
                    < 1 %} <h4 style="text-align: center">There are no tweets. Hit Refresh To Load Tweets!</h4>
                        {% else %}
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>URL</th>
                                    <th>Content</th>
                                    <th>Date/Time of Tweet</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tweet in tweets %}
                                <tr>
                                    <td>{{ tweet.author }}</td>
                                    <td>{{ tweet.url }}</td>
                                    <td>{{ tweet.content }}</td>
                                    <td>{{ tweet.date_created }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br> {% endif %}
                </div>
                {% endblock %}
            </div>
        </main>
    </div>