{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">COVID 19 Tweet Hub</span>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="content">
                <h1 style="text-align: center">Welcome!</h1>
                <p style="text-align: center">Tweets are retrieved from @WhiteHouse.</p>
                {% if tweets | length
                < 1 %} <h4 style="text-align: center">There are no tasks. Create one below!</h4>
                    {% else %}
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>URL</th>
                                <th>Content</th>
                                <th>Date/Time of Tweet</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tweet in tweets %}
                            <tr>
                                <td>{{ tweet.author }}</td>
                                <td>{{ tweet.url }}</td>
                                <td>{{ tweet.content }}</td>
                                <td>{{ tweet.date_created }}</td>
                                <td>
                                    <a href="/delete/{{tweet.id}}">Delete</a>
                                    <br>
                                    <a href="/update/{{tweet.id}}">Update</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <div class="form">
                        <form action="/" method="POST">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="content" name="content">
                                <label class="mdl-textfield__label" for="sample1">Enter A New Row</label>
                            </div>
                            <!-- Colored raised button -->
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" input type="submit">
                    Add Task
                  </button>
                        </form>
                    </div>
            </div>
            {% endblock %}
        </div>
    </main>
</div>